<div
  class="absolute container left-1/2 transform -translate-x-1/2 border-green-600 top-[69px] flex flex-col text-xl pt-10">

  <div class="flex">

    <div class="rounded-xl pb-10 border border-red-500" *ngIf="actorDetails && actorDetailsKnownFor ">
      <img src="{{imageCardPoster}}" alt="imageCardPoster"
           class="rounded-xl object-contain object-top border border-red-500">

      <div class="text-xl border border-red-500" *ngIf="actorDetailsExternal_ids">

        <div class="text-xl">
          <div class="flex pt-5">
            <div data-popover-target="popover1" data-popover-placement="bottom-start">
              <nav (click)="goToLink('https://www.facebook.com/' + actorDetailsExternal_ids.facebook_id)"
                   *ngIf="actorDetailsExternal_ids.facebook_id">
                <div class="hover:scale-110 duration-700">
                  <svg-icon src="./assets/facebook-rounded-svgrepo-com.svg"
                            [svgStyle]="{ 'width.px':50, 'height.px':50, 'fill':'rgb(0,0,0)' }"></svg-icon>
                </div>
              </nav>
            </div>

            <div data-popover id="popover1" role="tooltip"
                 class="absolute z-10 invisible inline-block w-40 text-sm font-light text-white transition-opacity duration-300 bg-gray-500 border border-gray-200 rounded-lg shadow-sm opacity-0 dark:text-gray-400 dark:border-gray-600 dark:bg-gray-800 text-center">
              <div class="px-3 py-2">
                <p>Visit movie at Facebook, right?</p>
              </div>
              <div data-popper-arrow></div>
            </div>

            <div data-popover-target="popover2" data-popover-placement="bottom">
              <nav (click)="goToLink('https://twitter.com/' + actorDetailsExternal_ids.twitter_id)"
                   *ngIf="actorDetailsExternal_ids.twitter_id">
                <div class="hover:scale-110 duration-700">
                  <svg-icon src="./assets/twitter-rounded-svgrepo-com.svg"
                            [svgStyle]="{ 'width.px':50, 'height.px':50, 'marginLeft.px':20, 'fill':'rgb(0,0,0)' }"></svg-icon>
                </div>
              </nav>
            </div>
            <div data-popover id="popover2" role="tooltip"
                 class="absolute z-10 invisible inline-block w-40 text-sm font-light text-white transition-opacity duration-300 bg-gray-500 border border-gray-200 rounded-lg shadow-sm opacity-0 dark:text-gray-400 dark:border-gray-600 dark:bg-gray-800 text-center">
              <div class="px-3 py-2">
                <p>Visit movie at Twitter, right?</p>
              </div>
              <div data-popper-arrow></div>
            </div>
            <div data-popover-target="popover3" data-popover-placement="bottom">
              <nav (click)="goToLink('https://twitter.com/' + actorDetailsExternal_ids.instagram_id)"
                   *ngIf="actorDetailsExternal_ids.instagram_id">
                <div class="hover:scale-110 duration-700">
                  <svg-icon src="./assets/instagram-rounded-svgrepo-com.svg"
                            [svgStyle]="{ 'width.px':50, 'height.px':50, 'marginLeft.px':20, 'fill':'rgb(0,0,0)' }"></svg-icon>
                </div>
              </nav>
            </div>
            <div data-popover id="popover3" role="tooltip"
                 class="absolute z-10 invisible inline-block w-40 text-sm font-light text-white transition-opacity duration-300 bg-gray-500 border border-gray-200 rounded-lg shadow-sm opacity-0 dark:text-gray-400 dark:border-gray-600 dark:bg-gray-800 text-center">
              <div class="px-3 py-2">
                <p>Visit movie at Instagram, right?</p>
              </div>
              <div data-popper-arrow></div>
            </div>
            <div data-popover-target="popover4" data-popover-placement="bottom-end" *ngIf="actorDetails.homepage">
              <nav (click)="goToLink(' '+ actorDetails.homepage)">
                <div class="hover:scale-110 duration-700">
                  <svg-icon src="./assets/home-svgrepo-com.svg"
                            [svgStyle]="{ 'width.px':50, 'height.px':50, 'marginLeft.px':20, 'fill':'rgb(0,0,0)' }"></svg-icon>
                </div>
              </nav>
            </div>
            <div data-popover id="popover4" role="tooltip"
                 class="absolute z-10 invisible inline-block w-40 text-sm font-light text-white transition-opacity duration-300 bg-gray-500 border border-gray-200 rounded-lg shadow-sm opacity-0 dark:text-gray-400 dark:border-gray-600 dark:bg-gray-800 text-center">
              <div class="px-3 py-2">
                <p>Visit movie homepage, right?</p>
              </div>
              <div data-popper-arrow></div>
            </div>
          </div>
        </div>
      </div>
      <p class="text-2xl pt-5">Personal Info</p>
      <div class="text-xl border border-red-500">Known For</div>
      <div class="text-sm border border-green-600">{{actorDetails.known_for_department}}</div>

      <div class="text-xl pt-5">Known Cast Credits</div>
      <div class="text-sm">{{actorDetailsKnownFor.cast.length}}</div>

      <div class="text-xl pt-5">Gender</div>
      <div class="text-sm">{{actorDetails.gender === 1 ? "Female" : "Male"}}</div>

      <div class="text-xl pt-5">Birthdate</div>
      <div class="text-sm" *ngIf="age">{{actorDetails.birthday}} ({{age}} years old)</div>
      <div class="text-sm" *ngIf="!age"> -</div>

      <div class="text-xl pt-5">Place of Birth</div>
      <div class="text-sm">{{actorDetails.place_of_birth}}</div>

      <div class="text-xl pt-5" *ngIf="actorDetails.also_known_as">Also Known As
          <div class="text-sm " *ngFor="let personName of actorDetails.also_known_as">
            {{personName}}
          </div>
        <div class="text-sm" *ngIf="actorDetails.also_known_as.length===0"> - </div>
      </div>

    </div>


    <div class="pl-10 rounded-xl w-9/12" *ngIf="actorDetails">
      <p class="text-4xl font-bold">{{actorDetails.name}}</p>
      <p class="text-2xl">Biography</p>
      <p class="text-xl">{{actorDetails.biography}}</p>

      <div class="flex flex-col overflow-x-scroll max-h-[430px] overflow-hidden p-10">
        <div>Known For</div>
        <div class="flex text-base p-2">

          <app-known-for-movies *ngFor="let castDetails of cast"
                                [castDetails]="castDetails"
          ></app-known-for-movies>
        </div>
      </div>
    </div>

  </div>

</div>
