<nav class="relative flex px-2 py-3 bg-[#708090]">
  <div class="container mx-auto align-middle flex ">

    <!--    button Home-->
    <div class="w-1/12 mr-auto">
      <button routerLink="/" class="hover:scale-105 ease-in duration-300 justify-center shadow-lg shadow-cyan-500/50 text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300
      font-medium rounded-lg text-sm px-4 py-1.5 text-center inline-flex items-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800 mr-auto">
        Home
        <div class="animate-bounce h-8 ">
          <svg-icon src="../assets/home-svgrepo.svg"
                    [svgStyle]="{
                'width.px':35,
                'height.px':35,
                'marginLeft.px':20,
                'fill':'rgb(255,255,255)' }">
          </svg-icon>
        </div>

      </button>
    </div>

    <!--     buttons: Movie + TV-->
    <app-nav></app-nav>


  </div>
</nav>
