.movieDetails{
  //display: flex;
  //flex-direction: row;
}
.contentss{
  position: absolute;
  padding: 30px 100px;
  top:0;
  left: 0;
  display: flex;

}
.imageCardPoster{
  height: 450px;
}
.text-card-description{
  padding-left: 40px;
}
