<div *ngIf="movieDetails" class="absolute movieDetails">
  <img src="{{imageBackGroundCard}}" alt="imageBackGroundCard" class="h-[510px] w-[100vw] object-cover opacity-50 z-0">

  <div class="contentss">

    <img src="{{imageCardPoster}}" alt="imageCardPoster" class="imageCardPoster rounded-xl">
    <div class="text-card-description">
      <p class="text-amber-50 text-4xl">{{movieDetails.title}} ({{movieDetails.release_date | date: 'yyyy'}})</p>
      <p class="text-amber-50 text-xl">{{movieDetails.release_date | date: 'dd/MM/y'}}
        &centerdot; {{movieDetails.genres | cardDetailString }} &centerdot; {{movieDetails.runtime | minutesToHHMM}}
      </p>
      <p class="text-amber-50 text-xl">Vote_average: {{movieDetails.vote_average | voteToPercent}}</p>

      <circle-progress
        [percent]="movieDetails.vote_average*10"
        [radius]="50"
        [outerStrokeWidth]="6"
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'#78C000'"
        [innerStrokeColor]="'#C7E596'"
        [animation]="true"
        [animationDuration]="300"
        [titleColor]="'#FF00FF'"
        [subtitleColor]="'#BFFF00'"
        [units]="'%'"
        [unitsColor]="'#BFFF00'"
        [showUnits]="true"
        [subtitle]="'Raiting'"
      ></circle-progress>






      <p class="top-1/3">{{movieDetails.backdrop_path }}</p>
      <p class="">cardDetailMovieID: {{cardDetailMovieID}}</p>

    </div>


  </div>


</div>

