<div *ngIf="movieDetails" class="absolute container left-1/2 transform -translate-x-1/2 ">
  <div class="myGrayBackGround">
    <img src="{{imageBackGroundCard}}" alt="imageBackGroundCard"
         class="myBackGround h-[510px] w-[100vw] object-cover opacity-30">
  </div>

  <div class="contentss">

    <img src="{{imageCardPoster}}" alt="imageCardPoster" class="imageCardPoster rounded-xl">
    <div class="text-card-description">
      <p class="text-amber-50 text-4xl">{{movieDetails.title}} ({{movieDetails.release_date | date: 'yyyy'}})</p>
      <p class="text-amber-50 text-xl">{{movieDetails.release_date | date: 'dd/MM/y'}}
        &centerdot; {{movieDetails.genres | cardDetailString }} &centerdot; {{movieDetails.runtime | minutesToHHMM}}
      </p>

      <div class="flex items-center">
        <circle-progress
          [percent]="movieDetails.vote_average*10"
          [radius]="50"
          [outerStrokeWidth]="6"
          [innerStrokeWidth]="8"
          [outerStrokeColor]="'#78C000'"
          [innerStrokeColor]="'#C7E596'"
          [animation]="true"
          [animationDuration]="300"
          [titleColor]="'#FF00FF'"
          [subtitleColor]="'#BFFF00'"
          [units]="'%'"
          [unitsColor]="'#BFFF00'"
          [showUnits]="true"
          [subtitle]="'Raiting'"
        ></circle-progress>

        <p class="text-amber-50 text-xl px-2">User <br>Score</p>

        <p *ngIf="movieTrailer"
           class="text-xl text-amber-50 hover:text-amber-200 p-2 flex cursor-pointer hover:border hover:rounded-3xl"
           (click)="playTrailer()">
          &#9658; Play Trailer
        </p>

        <p *ngIf="!movieTrailer"
           class="text-xl text-amber-50 hover:text-amber-200 p-2 flex cursor-pointer hover:border hover:rounded-3xl">
          No Trailers
        </p>

      </div>

      <p class="text-amber-50 text-xl italic">{{movieDetails.tagline}}</p>

      <p class="text-amber-50 text-2xl">Overview</p>
      <p class="text-amber-50 max-w-[800px]">{{movieDetails.overview}}</p>

      <div class="flex items-center text-amber-50 pt-5">

        <div *ngIf="movieDirector">
          <p class="font-bold">{{movieDirector}}</p>
          <p>Director</p>
        </div>

        <div class="pl-20" *ngIf="movieScreenplay">
          <p class="font-bold">{{movieScreenplay}}</p>
          <p>Screenplay</p>
        </div>

        <div class="pl-20" *ngIf="movieStory">
          <p class="font-bold">{{movieStory}}</p>
          <p>Story</p>
        </div>

        <div class="pl-20" *ngIf="movieWriter">
          <p class="font-bold">{{movieWriter}}</p>
          <p>Writer</p>
        </div>

      </div>




    </div>
  </div>

  <div class="flex">


  </div>

  <div class="flex flex-col text-xl pt-10">
    <div class="flex justify-between">
      <div class="w-9/12">Top Billed Cast</div>
      <div class="pl-5">You can visit this movie here:</div>
    </div>


    <div class="flex justify-between">
      <div class="flex flex-col w-9/12 overflow-x-scroll max-h-[430px] overflow-hidden">
        <div class="flex text-base">

          <app-top-billed-cast-card *ngFor="let castActor of cast"
                                    [castActor]="castActor"
          ></app-top-billed-cast-card>

        </div>
      </div>


      <div class="pl-10 text-xl">

        <div class="flex pt-5">
          <div class="hover:scale-110 duration-700">
            <svg-icon src="./assets/facebook-rounded-svgrepo-com.svg"
                      [svgStyle]="{ 'width.px':50, 'height.px':50, 'fill':'rgb(0,0,0)' }"></svg-icon>
          </div>

          <div class="hover:scale-110 duration-700">
            <svg-icon src="./assets/twitter-rounded-svgrepo-com.svg"
                      [svgStyle]="{ 'width.px':50, 'height.px':50, 'marginLeft.px':20, 'fill':'rgb(0,0,0)' }"></svg-icon>
          </div>

          <div class="hover:scale-110 duration-700">
            <svg-icon src="./assets/instagram-rounded-svgrepo-com.svg"
                      [svgStyle]="{ 'width.px':50, 'height.px':50, 'marginLeft.px':20, 'fill':'rgb(0,0,0)' }"></svg-icon>
          </div>

          <div class="hover:scale-110 duration-700">
            <svg-icon src="./assets/home-svgrepo-com.svg"
                      [svgStyle]="{ 'width.px':50, 'height.px':50, 'marginLeft.px':20, 'fill':'rgb(0,0,0)' }"></svg-icon>
          </div>

        </div>
      </div>


    </div>



  </div>
  <p class="pt-10">cardDetailMovieID: {{cardDetailMovieID}}</p>

</div>

<div *ngIf="showTrailer" class="flex justify-center relative pl-5">
  <youtube-player class=" "
                  [height]="screenWidth/2"
                  [width]="screenWidth/1.5"
                  (ready)="onPlayerReady($event)"
                  (apiChange)="onApiChange($event)"
                  (error)="onErrorYoutube($event)"
                  suggestedQuality="highres"
                  [startSeconds]="1"
                  [playerVars]={start:1}


                  videoId="{{movieTrailerKeyInCard}}"
  >

  </youtube-player>
  <div class="text-black text-7xl leading-[0] h-3 cursor-pointer" (click)="closeTrailer()"> &times;</div>
</div>



