<mat-card class="flex max-w-[400px] m-5 rounded-lg shadow-lg shadow-cyan-500/50 hover:scale-105 ease-in duration-300" >
  <mat-card-header class="flex min-h-[100px] bg-gray-50 rounded-lg" >

    <img mat-card-avatar src="{{base_image_URL}}{{movie.backdrop_path}}" alt="Photo of a Shiba Inu">
    <mat-card-title class="text-red-700">{{movie.title || movie.name}} ({{movie.release_date|| movie.first_air_date | date: 'yyyy'}})</mat-card-title>
    <mat-card-subtitle>
<!--      Genre:  -->
      {{movieCardFPageString.genre}}: {{movie.genre_ids | movieGenreIdToName}}
    </mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="{{base_image_URL}}{{movie.poster_path}}"
       class="min-h-[600px] content-v"
       loading="lazy"
       decoding="async"
       alt="poster_path">
  <mat-card-content class="bg-gray-50 min-h-[270px] rounded-lg">
    <p class="text-2xl pb-2 ">
<!--      Overview-->
      {{movieCardFPageString.overview}}
    </p>
    <p class="line-clamp-7">
      {{movie.overview}}
    </p>
    <p  *ngIf="!movie.overview">
<!--      We don't have a overview for-->
      {{movieCardFPageString.dont_have_an_overview}}
      {{movie.title || movie.name}}.</p>

    <p class="text-xl pt-1.5">
<!--      User Score:-->
      {{movieCardFPageString.user_score}}:
      <b>{{movie.vote_average * 10}}</b> %</p>
  </mat-card-content>
</mat-card>

