<mat-card class="flex max-w-[400px] m-5">
  <mat-card-header class="flex min-h-[100px] bg-gray-50">

    <img mat-card-avatar src="{{base_image_URL}}{{movie.backdrop_path}}" alt="Photo of a Shiba Inu">
    <mat-card-title class="text-red-700">{{movie.title || movie.name}} ({{movie.release_date|| movie.first_air_date | date: 'yyyy'}})</mat-card-title>
    <mat-card-subtitle>
      Genre:  {{movie.genre_ids | movieGenreIdToName}}

    </mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="{{base_image_URL}}{{movie.poster_path}}"
       class="min-h-[600px] content-v"
       loading="lazy"
       decoding="async"
       alt="poster_path">
  <mat-card-content class="bg-gray-50 min-h-[270px]">
    <p class="text-2xl pb-2">Overview</p>
    <p class="line-clamp-7">
     {{movie.overview}}
    </p>

    <p class="text-xl pt-1.5">User Score: <b>{{movie.vote_average * 10}}</b> %</p>

<!--    получаю имя режиссера фильма (но только для movie, т.к. у tv нет такого свойства в объекте и падает ошибка):-->
<!--    <p class="text-xl pt-1.5">Director: <b>{{MovieDirectorName}}</b> </p>-->

  </mat-card-content>
</mat-card>


