<div class="container w-full border h-full m-auto">
  <h1 class="text-3xl font-bold underline text-center select-none">
    Hello Angular-15 <span class="text-red-700">2023</span>
  </h1>

  <div class="flex">
    <div class="w-1/6">/genre/movie/list:
      <app-nav *ngFor="let genre of genres" [genre]="genre"
               (click)="clickedHandle(genre.name, genre.id, 'movie')"></app-nav>
    </div>

    <div class="w-1/6">/genre/tv/list:
      <app-nav *ngFor="let genre of genresTV" [genre]="genre"
               (click)="clickedHandle(genre.name, genre.id, 'tv')"></app-nav>
    </div>

  </div>
  <hr>
  <div class="flex flex-col" *ngIf="clickedGenreMovie_TV">
    <span>You click genre: {{clickedGenre}}</span>
    <span>You click genreID: {{clickedGenreID}}</span>
    <span>You click genre (movie or TV): {{clickedGenreMovie_TV}}</span>

    <p>You click request__________________________________________:
      <span class="font-bold text-red-700">{{my_request}}</span>
    </p>

    <p>Expected request (if click at movie 'Science Fiction: 878') :
      <span class="font-bold text-green-700">`/discover/movie?api_key=261986cbb51c934516a9889245136067&with_genres=878&language=ru-RU`</span>
    </p>

  </div>


</div>
